
body {
    text-align: center;
    margin: 0px;
}

header {
	background-color: #f15b31;
	padding: 30px 20px 30px 20px;
	margin: 0;
}

nav {
	background-color: #00a6b3;
	padding: 0px 20px 0px 20px;
	margin: 0px;
	border-bottom: 2px solid transparent;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}
main {
	width: 850px;
	margin: 35px auto 35px auto;
}
footer {
	text-transform: uppercase;
	padding: 0px 20px 0px 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	margin: 0;
}
.message{
	font-family: "Raleway", sans-serif;
	float: right;
}
.copyright{
	font-family: "Raleway", sans-serif;
	float: left;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.name{
	color: #F15B31;
	font-weight: 700;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}

a {
	font-family: "Raleway", sans-serif;
	color: black;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18x;
	text-transform: uppercase;
	margin: 20px;
}

a:hover {
background-color: #f15b31;
}

div {
	margin: 40px 8px 40px 8px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}